@model IEnumerable<ENTP_Project.Models.UserModel>

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<html>
<head>
    <style>
        
    </style>
</head>
<h1>User Database</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Diet</th>
            <th>Plan</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Role</td>
                    <td>@user.Diet</td>
                    <td>@user.Plan</td>
                    <td>@user.Weight</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No users found.</td>
            </tr>
        }
    </tbody>
</table>
</html>